@import url("https://fonts.googleapis.com/css2?family=Anek+Gurmukhi:wght@100..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

$primaryColor: #1d4ed8;
$blackShade: #212121;
$whiteShade: #f3f3f3;

body {
  font-family: "Anek Gurmukhi" !important;
}

@mixin CardsBoxShadow() {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px !important;
}

@mixin cardsHeadingStyle() {
  font-size: 30px !important;
}

@mixin buttonStyling($padding, $color) {
  border-radius: 8px !important;
  padding: $padding;
  text-transform: capitalize !important;
  width: 100% !important;
  color: $color !important;
  font-weight: bold !important;
}

.mainSignup {
  @include CardsBoxShadow();
  .signupCnt {
    h3 {
      @include cardsHeadingStyle();
    }
  }
  .signupBtns {
    .signupBtn,
    .signupWithGoogleBtn {
      @include buttonStyling(10px, #212212);
    }
    .signupWithGoogleBtn {
      padding-left: 40px !important;
      padding-right: 40px !important;
    }
  }
}

.mainSignin {
  @include CardsBoxShadow();
  .signinCnt {
    h3 {
      @include cardsHeadingStyle();
    }
  }
  .signinBtns {
    .signinBtn {
      @include buttonStyling(10px, #212212);
    }
  }
}

.mainVerification {
  @include CardsBoxShadow();
  .verificationCnt {
    h3 {
      @include cardsHeadingStyle();
    }
  }
  .verifyBtn {
    @include buttonStyling(10px 20px, #212121);
  }
}

.mainForgotPassword {
  @include CardsBoxShadow();
  .forgotPasswordCnt {
    h3 {
      @include cardsHeadingStyle();
    }
  }
  .forgotPasswordBtnDiv {
    .forgotPasswordBtn {
      @include buttonStyling(10px 20px, #212121);
    }
  }
}

//Main Css
.navbar {
  @include CardsBoxShadow();
  background-color: $primaryColor !important;
  margin: 10px !important;
  border-radius: 10px !important;
}

.sliderContainer {
  border-radius: 10px !important;
  margin: 10px !important;
  overflow: hidden !important;
}

.slider {
  border-radius: 10px !important;
}

:where(.css-dev-only-do-not-override-f7vrd6).ant-carousel
  .slick-dots
  li
  button::after {
  margin: 2px !important;
  border-radius: 2px !important;
  background-color: rgb(216, 172, 29) !important;
}

.planBtn {
  @include buttonStyling(10px, #f3f3f3);
}

@mixin white-gradient {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

$animationSpeed: 40s;

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

.sliderPartners {
  @include CardsBoxShadow();
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;

  &::before,
  &::after {
    @include white-gradient;
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }

  .slide-track {
    animation: scroll $animationSpeed linear infinite;
    display: flex;
    width: calc(250px * 14);
  }
  .slide img {
    margin: 0px 20px;
  }
}

.card {
  @include CardsBoxShadow();
}

.contactInputs {
  @include CardsBoxShadow();
  .sendMessageBtn {
    @include buttonStyling(5px 10px, #f3f3f3);
  }
}

.categoriesBtn,
.gotoDashboardBtn,
.gotoResetBtn,
.nextBtns,
.backBtns {
  @include buttonStyling(10px 20px, #212121);
}

.productCards {
  @include CardsBoxShadow();
  .addToCartBtn {
    @include buttonStyling(10px 20px, #f3f3f3);
  }
}

.closeBtn {
  @include buttonStyling(10px 20px, #f3f3f3);
}

//DashBoard Css
:where(.css-dev-only-do-not-override-f7vrd6).ant-menu-dark
  .ant-menu-item-selected {
  background-color: $blackShade !important;
  color: white !important;
}

:where(.css-dev-only-do-not-override-f7vrd6).ant-btn-primary {
  background-color: $blackShade !important;
  box-shadow: none !important;
}

:where(.css-dev-only-do-not-override-f7vrd6).ant-menu-dark {
  background-color: $blackShade !important;
}

:where(.css-dev-only-do-not-override-f7vrd6).ant-result {
  padding: 10px !important;
}

:where(.css-dev-only-do-not-override-f7vrd6).ant-menu-vertical
  > .ant-menu-item {
  height: 60px !important;
  padding-inline: calc(40% - 8px - 4px) !important;
}

:where(.css-dev-only-do-not-override-f7vrd6).ant-menu-inline .ant-menu-item {
  height: 60px !important;
}

.mainProfile {
  @include CardsBoxShadow();
}

.loaderDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  width: 150px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 20px solid $blackShade;
  border-right-color: #d8ac1d;
  animation: l2 1s infinite linear;
}

@keyframes l2 {
  to {
    transform: rotate(2turn);
  }
}

.pageNotFoundBtn {
  border-radius: 8px !important;
  padding: 10px;
}

.gotoStoreBtn {
  @include buttonStyling(10px, #212121);
  width: 50% !important;
}

.stepper {
  @include CardsBoxShadow();
}

.updateEmailBtn,
.updatePasswordBtn,
.settingsModalCancelBtn,
.uploadBtn {
  @include buttonStyling(10px, #212121);
  width: 50% !important;
}

// Media Queries
@media only screen and (max-width: 1000px) {
  .innerdiv {
    transform: scale(0.7);
  }
}

@media only screen and (max-width: 800px) {
  .innerdiv {
    transform: scale(0.6);
  }

  .thirdStepsBtn,
  .firstSecondStepsBtns {
    flex-direction: column !important;
    justify-content: center !important;
  }
}

@media only screen and (max-width: 600px) {
  .div1 {
    background-position-x: 10rem;
  }
  .innerdiv {
    display: flex;
    flex-direction: column;
    transform: scale(1);
    margin: 2rem;
    margin-bottom: 5rem;
  }
  .loader {
    width: 100px !important;
  }

  .attribution {
    position: relative;
  }
  .contactInputs {
    flex-direction: column !important;
    padding: 20px !important;
    width: 100%;
  }
  .dashboardNavbar {
    flex-direction: column !important;
  }
}

@media only screen and (max-width: 450px) {
  .googleClass,
  .emailClass {
    padding: 10px !important;
  }

  .registerBtns {
    flex-direction: column;
  }

  .filterBtns,
  .bgCart {
    flex-direction: column !important;
    gap: 10px !important;
  }

  .mainDasboardNavbar > div {
    flex-direction: column-reverse !important;
    justify-content: center !important;
    gap: 10px;
  }
  .userPic {
    width: 60px !important;
    height: 60px !important;
  }
}

@media only screen and (min-width: 1100px) {
  .innerdiv {
    grid-template-rows: repeat(2, 22rem);
    grid-template-columns: repeat(3, 26rem);
  }
}

@media only screen and (min-width: 1440px) {
  .innerdiv {
    grid-template-rows: repeat(2, 22rem);
    grid-template-columns: repeat(3, 30rem);
  }
}

@media only screen and (min-width: 600px) {
  :where(.css-dev-only-do-not-override-f7vrd6).ant-carousel
    .slick-dots
    li
    button::after {
    width: 10px !important;
    margin: 2px !important;
    border-radius: 2px !important;
    background-color: #d8ac1d !important;
  }
}

@media only screen and (max-width: 900px) {
  .contact {
    flex-direction: column !important;
    gap: 50px;
  }

  .css-2royc9 {
    flex-direction: column !important;
    gap: 0px !important;
    align-items: start !important;
  }

  .contactImg {
    display: none !important;
  }
}

@media only screen and (max-width: 700px) {
  .css-m5vj9m-MuiStepper-root {
    flex-direction: column !important;
    gap: 10px !important;
    justify-content: start !important;
    align-items: start !important;
  }

  .ordersCircle {
    flex-direction: column !important;
    gap: 0px !important;
  }

  .chartsDiv {
    display: none !important;
  }
}
