@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

//Variables
$blackShade: #212121;
$navbarRadius: 10px;
$bodyColor: rgb(243, 243, 243);

body {
  font-family: "Didact Gothic" !important;
  background: $bodyColor !important;
}

//mixins
@mixin CardsBoxShadow() {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px !important;
}

@mixin cardsHeadingStyle() {
  font-size: 30px !important;
}

@mixin buttonStyling($padding, $color) {
  @include navbarGradient();
  border-radius: 8px !important;
  padding: $padding;
  text-transform: capitalize !important;
  width: auto !important;
  color: $color !important;
  font-weight: bold !important;
}

@mixin navbarGradient() {
  @include CardsBoxShadow();
  background: rgb(45, 50, 80) !important;
  background: linear-gradient(
    80deg,
    rgba(45, 50, 80, 1) 0%,
    rgba(66, 71, 105, 1) 100%
  ) !important;
}

@mixin plansBgGradient() {
  background: rgb(121, 130, 181);
  background: linear-gradient(
    139deg,
    rgba(121, 130, 181, 1) 0%,
    rgba(112, 119, 161, 1) 100%
  );
}

//Main Css

//Signup Css
.mainSignup {
  background-color: $bodyColor;
  @include CardsBoxShadow();
  .signupCnt {
    h3 {
      @include cardsHeadingStyle();
    }
  }
  .signupBtns {
    .signupBtn,
    .signupWithGoogleBtn {
      @include buttonStyling(15px, #f3f3f3);
    }
    .signupWithGoogleBtn {
      padding-left: 40px !important;
      padding-right: 40px !important;
    }
  }
}

//Signin Css
.mainSignin {
  background-color: $bodyColor;
  @include CardsBoxShadow();
  .signinCnt {
    h3 {
      @include cardsHeadingStyle();
    }
  }
  .signinBtns {
    .signinBtn {
      @include buttonStyling(15px, #f3f3f3);
    }
  }
}

//Verification Css
.mainVerification {
  background-color: $bodyColor;
  @include CardsBoxShadow();
  .verificationCnt {
    h3 {
      @include cardsHeadingStyle();
    }
  }
  .verifyBtn {
    @include buttonStyling(15px, #f3f3f3);
  }
}

//Forgot Password Css
.mainForgotPassword {
  background-color: $bodyColor;
  @include CardsBoxShadow();
  .forgotPasswordCnt {
    h3 {
      @include cardsHeadingStyle();
    }
  }
  .forgotPasswordBtnDiv {
    .forgotPasswordBtn {
      @include buttonStyling(15px, #f3f3f3);
    }
  }
}

//Top Navbar Css
.navbar {
  @include navbarGradient();
  margin: 10px !important;
  border-radius: $navbarRadius !important;
}

//Adding navbar gradient
.dashboardRightUpperNavbar,
.adminNavbar,
.footer,
.icon,
.bgCart {
  @include navbarGradient();
}

//Plans Css
.plan1,
.plan2,
.plan3 {
  @include plansBgGradient();
  .planBtn {
    @include buttonStyling(10px 20px, #f3f3f3);
    @include navbarGradient();
  }
}

//Accordian Css
.accordianQuestion {
  @include plansBgGradient();
}

//Slider Css
.sliderContainer {
  overflow: hidden !important;
  border-radius: 10px !important;
  margin: 10px !important;
  overflow: hidden !important;
  .slider {
    border-radius: 10px !important;
    .ant-carousel .slick-slide img {
      width: 100%;
      height: auto;
    }
  }
}

//Ovverriding slider button style
:where(.css-dev-only-do-not-override-f7vrd6).ant-carousel
  .slick-dots
  li
  button::after {
  margin: 2px !important;
  border-radius: 2px !important;
  background-color: rgb(216, 172, 29) !important;
}

//Partners Css
$animationSpeed: 40s;
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100px * 7));
  }
}

.sliderPartners {
  @include CardsBoxShadow();
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;

  &::before,
  &::after {
    @include plansBgGradient();
    content: "";
    height: 100px;
    position: absolute;
    width: 50px;
    z-index: 2;
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }

  .slide-track {
    animation: scroll $animationSpeed linear infinite;
    display: flex;
    width: calc(250px * 14);
  }
  .slide img {
    margin: 0px 20px;
  }
}

//Contact Css
.contactInputs {
  @include CardsBoxShadow();
  .sendMessageBtn {
    @include buttonStyling(10px 25px, #f3f3f3);
  }
}

//adding style to differnet button
.categoriesBtn,
.gotoDashboardBtn,
.gotoResetBtn,
.nextBtns,
.backBtns {
  @include buttonStyling(15 20px, #f3f3f3);
}

//Product Card and bracnches Css
.productCards,
.branchesCard {
  @include CardsBoxShadow();
  @include plansBgGradient();
  .addToCartBtn {
    @include navbarGradient();
    @include buttonStyling(10px 20px, #f3f3f3);
  }
}

//Drawer Css
.closeBtn,
.chechkoutBtn {
  @include buttonStyling(10px 20px, #f3f3f3);
}

//DashBoard Css
:where(.css-dev-only-do-not-override-f7vrd6).ant-menu-dark
  .ant-menu-item-selected {
  background-color: $blackShade !important;
  color: white !important;
}

:where(.css-dev-only-do-not-override-f7vrd6).ant-btn-primary {
  background-color: $blackShade !important;
  box-shadow: none !important;
}

:where(.css-dev-only-do-not-override-f7vrd6).ant-menu-dark {
  background-color: $blackShade !important;
}

:where(.css-dev-only-do-not-override-f7vrd6).ant-result {
  padding: 10px !important;
}

:where(.css-dev-only-do-not-override-f7vrd6).ant-menu-vertical
  > .ant-menu-item {
  height: 60px !important;
  padding-inline: calc(40% - 8px - 4px) !important;
}

:where(.css-dev-only-do-not-override-f7vrd6).ant-menu-inline .ant-menu-item {
  height: 60px !important;
}

.card,
.stepper,
.allUsersAdminOrdersCircles,
.trackOrders {
  @include CardsBoxShadow();
}

//Loader Css
.loader {
  width: 120px;
  height: 60px;
  border-radius: 200px 200px 0 0;
  -webkit-mask: repeating-radial-gradient(
    farthest-side at bottom,
    #0000 0,
    #000 1px 12%,
    #0000 calc(12% + 1px) 20%
  );
  background: radial-gradient(farthest-side at bottom, #514b82 0 95%, #0000 0)
    bottom/0% 0% no-repeat #ddd;
  animation: l10 2s infinite steps(6);
}

@keyframes l10 {
  100% {
    background-size: 120% 120%;
  }
}
@keyframes l2 {
  to {
    transform: rotate(2turn);
  }
}

.updateEmailBtn,
.updatePasswordBtn,
.settingsModalCancelBtn,
.uploadBtn,
.adminSigninModalCancelBtn,
.adminSigninModalSaveBtn,
.adminSettingsModalCancelBtn,
.adminSettingsModalSaveBtn,
.adminAddProductsModalSaveBtn,
.adminAddProductsModalCancelBtn,
.adminOrderDetailsModalCancelBtn,
.adminOrderDetailsModalSaveBtn,
.adminEditProductDetailsModalCancelBtn,
.adminEditProductDetailsModalSaveBtn,
.adminProductDeleteBtn,
.adminProductEditBtn,
.adminSettingsModalBtn,
.adminAddProductsModalBtn,
.adminViewOrderDetailsBtn,
.trackOrderBtn,
.reviewBtn,
.deleteReviewBtn,
.pageNotFoundBtn,
.gotoStoreBtn {
  @include buttonStyling(10px 20px, #f3f3f3);
}

// Media Queries
@media only screen and (max-width: 1000px) {
  .innerdiv {
    transform: scale(0.7);
  }
}

@media only screen and (max-width: 800px) {
  .innerdiv {
    transform: scale(0.6);
  }

  .thirdStepsBtn,
  .firstSecondStepsBtns {
    flex-direction: column !important;
    justify-content: center !important;
  }
}

@media only screen and (max-width: 600px) {
  .div1 {
    background-position-x: 10rem;
  }
  .innerdiv {
    display: flex;
    flex-direction: column;
    transform: scale(1);
    margin: 2rem;
    margin-bottom: 5rem;
  }
  .loader {
    width: 100px !important;
  }

  .attribution {
    position: relative;
  }
  .contactInputs {
    flex-direction: column !important;
    padding: 20px !important;
    width: 100%;
  }
  .dashboardNavbar {
    flex-direction: column !important;
  }
}

@media only screen and (max-width: 450px) {
  .googleClass,
  .emailClass {
    padding: 10px !important;
  }

  .registerBtns {
    flex-direction: column;
  }

  .filterBtns,
  .bgCart {
    justify-content: center !important ;
    align-items: center !important;
    flex-direction: column !important;
    gap: 10px !important;
  }

  .mainDasboardNavbar > div {
    flex-direction: column-reverse !important;
    justify-content: center !important;
    gap: 10px;
  }
  .userPic {
    width: 60px !important;
    height: 60px !important;
  }
}

@media only screen and (min-width: 1100px) {
  .innerdiv {
    grid-template-rows: repeat(2, 22rem);
    grid-template-columns: repeat(3, 26rem);
  }
}

@media only screen and (min-width: 1440px) {
  .innerdiv {
    grid-template-rows: repeat(2, 22rem);
    grid-template-columns: repeat(3, 30rem);
  }
}

@media only screen and (min-width: 600px) {
  :where(.css-dev-only-do-not-override-f7vrd6).ant-carousel
    .slick-dots
    li
    button::after {
    width: 10px !important;
    margin: 2px !important;
    border-radius: 2px !important;
    background-color: #d8ac1d !important;
  }
}

@media only screen and (max-width: 900px) {
  .contact {
    flex-direction: column !important;
    gap: 50px;
  }

  .css-2royc9 {
    flex-direction: column !important;
    gap: 0px !important;
    align-items: start !important;
  }

  .contactImg {
    display: none !important;
  }
}

@media only screen and (max-width: 700px) {
  .css-m5vj9m-MuiStepper-root {
    flex-direction: column !important;
    gap: 10px !important;
    justify-content: start !important;
    align-items: start !important;
  }

  .ordersCircle {
    flex-direction: column !important;
    gap: 0px !important;
  }

  .chartsDiv {
    display: none !important;
  }

  .allUsersAdminOrdersCircles {
    flex-direction: column !important;
  }
}

@media only screen and (max-width: 320px) {
  .adminNavbar {
    flex-direction: column-reverse !important;
    gap: 12px;
  }
  .adminRight {
    flex-direction: column !important;
  }
}
